/*-- Owl slide common --*/
.owl-carousel.owl-theme .owl-nav {
  text-align: center; }
  .owl-carousel.owl-theme .owl-nav [class*=owl-] {
    background: #fff;
    color: #ee362e;
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    margin: 0;
    border-radius: 0;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
      background: #fb313b;
      color: #fff; }
  .owl-carousel.owl-theme .owl-nav [class*=owl-prev] {
    right: 70px; }

.owl-carousel .owl-nav.disabled + .owl-dots {
  margin-top: 0; }

.owl-carousel .owl-nav.disabled + .owl-dots span {
  width: 7px;
  height: 7px;
  margin: 5px 5px;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease; }

.owl-carousel .owl-dots .owl-dot.active span {
  background: #fc4a00;
  border-color: #fc4a00;
  width: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px; }

.owl-dots {
  position: relative;
  width: 100%;
  padding: 25px 0;
  text-align: center; }

.owl-dot {
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.owl-dot span {
  border-radius: 50%;
  background: #d3d3d3;
  display: inline-block;
  text-align: center; }

.owl-dot:first-child {
  padding-left: 15px; }

.owl-dot:last-child {
  padding-right: 15px; }

.owl-carousel.owl-loaded .owl-nav .owl-prev.disabled,
.owl-carousel.owl-loaded .owl-nav .owl-next.disabled {
  background: #fff !important;
  color: #000 !important; }
